<div class="mt-4">
  <h2>Đăng Khóa Học</h2>

  <form class="row g-3 mt-3" method="POST" action="store">
    <div class="col-auto">
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        class="form-control"
        id="name"
        value="Nextjs Super"
      />
    </div>

    <div class="col-auto">
      <label for="description">description</label>
      <input
        type="text"
        class="form-control"
        name="description"
        id="description"
        value="HTML CSS"
      />
    </div>

    <div class="col-auto">
      <label for="slug">Slug</label>
      <input
        type="text"
        class="form-control"
        name="slug"
        id="slug"
        value="HTML CSS"
      />
    </div>

    <div class="col-auto">
      <label for="video">VideoId</label>
      <input
        type="text"
        class="form-control"
        name="video"
        id="video"
        value="HTML CSS"
      />
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
    </div>
  </form>
</div>