<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="app">

    {{> header}}

      <main class="container">
        {{{body}}}
      </main>
      {{!-- {{{body}}} đây là lấy content từ home đưa vào trong main layouts vì layout chính là cấu trúc trang mà. --}}

    {{> footer}}

    </div>

  </body>
</html>